.dashboard {
   
    align-items: center;
    justify-content: center;
    align-self: center;
    
   
  }
  .dashboard__container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
   align-self: center;
    padding: 0px;
    width: 80%;
    border-radius: 8px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color:  rgb(17, 62, 104);
    border-radius: 8px;
  }
  .normal__btn {
    padding: 4px;
    font-size: 12px;
    background-color: rgb(17, 62, 104);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(93, 162, 184);
   
  }
  .edit__btn {
    padding: 4px;
    font-size: 12px;
    background-color: rgb(17, 62, 104);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(93, 162, 184);
    margin: 5px;
    padding: 7px;
   
  }
  .normal__txt {
    padding: 4px;
    font-size: 12px;
    background-color: rgb(189, 202, 214);
    color: rgb(89, 127, 177);
    border-radius: 5px;
    border-color: rgb(88, 138, 196);
   
  }
  .dashboard div {
    height: 100%;
    align-items: center;
  }
  .form__div {
    color: white;
  }