.login {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
  border-radius: 8;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.header {
  padding: 19%;
  
  background-size:cover;
 
  background-repeat: no-repeat;
  justify-content:stretch;
  border-radius: 9px;
}

.avatar {



 text-align: center;
 display: block;
 justify-content: center;
 align-items: center;
 margin: auto;
 width: 80%;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 50px;


}

.tag1 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
 
 }
 .buy1 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50px;

  border-radius: 50px;
 
 }
.avatar2 {
  text-align: center;
  align-items: center;
  padding: 1px;
  border-radius: 8px;
  border: 0px solid #57719a;
  width:280px;
  position: relative;
  margin-bottom: 5px;

}
.login__container {
  border-radius: 8px;
  text-align: center;
  align-items:center;
  align-self: center;
  align-content: center;
  height: 100%;
  width: 100%;

  background-color: #dcdcdc;
 
  
}
.login__textBox {

  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
 
}
.login__btn {
  padding: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  width: 100%;

}
.login__google {
  background-color: #4285f4;
  width: 100%;
  border-radius: 8;
}
.login div {
  margin-top: 7px;
}
.box {
  overflow: hidden;
  margin: 5%;
}

.content {
  font-size: 15px;
  line-height: 20px;

  align-items: center;
  text-align: center;
  align-content: center;
}

.left {
  float: left;
  width: 50%;
}

.left .content {
  border-right: 0px solid #4285f4  ;
  padding: 10px;
 
}

.right {
  float: right;
  width: 50%;
  padding-right: 10%;
  padding-top: 7%;
 
}
.logo {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50px;
 
  background-color: white;
  border-radius: 50px;
}
.horizontal {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
}
.vertical {
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.buy__btn {
  padding: 6px;
  font-size: 18px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 117, 145);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}